# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
images/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Streamlit
.streamlit/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# IDEs
.vscode/
.idea/

# OS stuff
.DS_Store
Thumbs.db
desktop.ini
